@import "tailwindcss";

@theme inline {
  --color-brown: #363025;
  --color-beige: #D6D6C9;
  --color-cream: #F5F3ED;
  --color-offwhite: #EDEDE1;
  --color-white: #FFFFFF;

  --font-italianno: var(--font-italianno);
  --font-quicksand: var(--font-quicksand);
  --font-nunito: var(--font-nunito);
  --font-cormorant: var(--font-cormorant);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #363025;
  font-family: var(--font-quicksand), sans-serif;
}
